<h1> Now editing</h1>

<h4>Current record:</h4>
<p>
  Movie Title: <%=@movie.title%><br>
  Genre: <%=@movie.genre%><br>
  Release Year: <%=@movie.release_year%><br>
</p>

<h4>Edit record:</h4>
<form action="/movies/<%= @movie.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="title">Title:</label>
    <input type="text" name="title" value="<%=@movie.title%>">
    <br>
    <label for="email">Genre:</label>
    <input type="text" name="genre" value="<%=@movie.genre%>">
    <br>
    <label for="release_year">Release Year:</label>
    <input type="integer" name="release_year" value="<%=@movie.release_year%>">
    <input type="submit" value="Submit">
</form>

<h4>Remove record:</h4>
<form action="/movies/<%= @movie.id %>/delete" method="post">
  <label for="delete">If you no longer wish to have this Movie in your database</label>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Movie">
</form>

<form action="/movies" method="GET">
  <input type="submit" value="Return">
</form>
